@use "components/color_picker.scss";
@use "components/common.scss";
@use "components/notifications.scss";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

body {
  position: relative;

  padding: 0;
  margin: 0;

  height: 100vh;
  width: 100vw;
}

// default slider styles.
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;

  outline: none;

  &::-webkit-slider-runnable-track,
  &::-moz-range-track,
  &::-moz-range-progress {
    background: transparent;
  }
}

.global-color-picker {
  position: absolute;

  top: 100%;

  transform: translate(20px, calc(-100% - 20px));
}

.global-notification-hub {
  position: absolute;

  top: 100%;
  left: 100%;

  min-height: 300px;
  min-width: 250px;

  transform: translate(calc(-100% - 20px), calc(-100% - 20px));
}
