
.canvas-main {
  position: absolute;

  transform: scale(var(--scale));
  transform-origin: center;

  top: var(--top);
  left: var(--left);

  height: var(--height);
  width: var(--width);

  background-color: #F1F1F1;

  z-index: 0;
}
